/* Калькулятор */
.calc-container {
    background-color: pink;
    border: 2px solid #e0a1a1;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
}

.calc-container h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.calc-input-group {
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

/* Галерея */
.gallery-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    margin: 0 auto;
}

.gallery {
    display: flex;
    overflow: hidden;
    max-width: 100vw;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 33.33%;
    box-sizing: border-box;
    border-right: 10px solid #ccc;
}

.slide:last-child {
    border-right: none;
}

.slide img {
    width: 100%;
    /* Изображение занимает 100% от контейнера */
    height: 200px;
    /* Фиксированная высота для всех изображений */
    object-fit: cover;
    /* Обеспечивает обрезку изображения при изменении размеров */
}

.arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    width: 250px;
    /* Компактная ширина кнопки */

    z-index: 1;
}

.pager {
    text-align: center;
    margin-top: 10px;
}

/* Форма */
/* Форма */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup.active {
    display: flex;
    /* Показывать попап */
}

#openPopup {
    display: inline-block;
    background-color: pink;
    color: #333;
    font-size: 16px;
    border: 2px solid #e0a1a1;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#openPopup:hover {
    background-color: #ffc0cb;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-content textarea {
    height: 100px;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #f195cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.popup-content button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.popup-content .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.close-button {
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.close-button:hover {
    color: red;
}


@media (max-width: 769px) {
    .slide {
        border-right: none;
        /* Убираем границу для мобильных устройств */
        min-width: 100%;
        /* На мобильных устройствах показываем 1 изображение */
    }

    .popup-content {
        max-width: 90%;
    }
}